<!DOCTYPE html>
<html>
<% include includes/head.ejs%>
<body>
  <div class="main" id="landing">  
    <div id="pbg" style="background-image:url('../assets/images/home-bg.jpg'); background-repeat:no-repeat; background-color: rgba(0,0,0,0.7); background-size:cover; background-position:center; margin-top:-48px;">
      <div class="row">
        <div class="small-12 columns text-center" style="margin-top:5em; margin-bottom:2em;">
          <div class="row">
            <div class="small-6 large-3 columns small-centered">
              <a href="http://houseafic.com"><img src="{{site.url}}{{site.baseurl}}/assets/images/logo-white.png" class="xs-ws-top fullwidth"></a>

            </div>
          </div>
          <h2 class="wcolor m-ws-top"><div class="f-1-25x">Empowering you to make </div><div class="f-1-25x">smarter real estate decisions</div></h2>
          <h4 class="f-l wcolor2">Trustworthy information that is tailored for you</h4>
          <!-- <h2 class="wc f-l"><span class="f-2x">Real estate Intelligence. <span class="scolor2">Simplified.</span></h2> -->
          <!-- <div class="b-ws-top"><a class="button small  success" href="#" data-reveal-id="signupModal">Know more</i></a></div> -->
        </div>
      </div>
    </div>
    <div class="wbg">
      <div class="row">
        <div class="small-12 large-8 columns b-ws-top">
          <img src="{{site.url}}{{site.baseurl}}/assets/images/tracking.png" width="100px">
          <h2>PropTrack</h2>
          <h4 class="scolor2">Keep updated with your property as it gets built</h4>
          <p class="scolor2">Sourcing critical information about your project under construction can be time-consuming and difficult task. Whether it means constructions updates, local development or price trends. A Proptrack report gives you vital information on your investment, along with photographs, construction status and site activity. We are your ears and eyes on the ground, so that the next time you are on vacation, you spend your limited time more fruitfully.</p>
          <div class="row">
            <div class="small-4 columns b-ws-top">
              <ul class="pricing-table">
                <li class="title" >Quarterly</li>
                <li class="price">₹1750 <span class="scolor2 s3">/report</span></li>
                <li class="bullet-item">4 reports</li>
                <li class="cta-button"><a class="button small" href="#" data-reveal-id="myModal">Order Now</a></li>
              </ul>
            </div>
            <div class="small-4 columns b-ws-top">
              <ul class="pricing-table">
                <li class="title" style="background: #43AC6A;">Bi annually</li>
                <li class="price">₹1890 <span class="scolor2 s3">/report</span></li>
                <li class="bullet-item">2 reports</li>
                <li class="cta-button"><a class="button small" data-reveal-id="myModal" href="#">Order Now</a></li>
              </ul>
            </div>
            <div class="small-4 columns b-ws-top">
              <ul class="pricing-table">
                <li class="title">Annually</li>
                <li class="price">₹1999 <span class="scolor2 s3">/report</span></li>
                <li class="bullet-item">1 report</li>
                <li class="cta-button"><a class="button small" data-reveal-id="myModal" href="#">Order Now</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="small-4 columns b-ws-top lgbg s-ws-top-p">
          <h5>Unbiased</h5>
          <p class="s scolor2">We are a business intelligence company and not a real estate agency. Need we say more.</p>
          <h5>Save Time & Money</h5>
          <p class="s scolor2">Don’t waste time searching websites or other sources to get the information you need. We will do all the work for you. No more chasing developers, brokers or family for updates</p>
          <h5>Unique Data</h5>
          <p class="s scolor2">PropTrack covers 5 sections and details more than 40 data points, including developer background, price trends, construction activity on site, photographs, construction progress</p>
          <h5>Authentic Technical Information</h5>
          <p class="s scolor2">Don’t waste time searching websites or other sources to get the information you need. We will do all the work for you. No more chasing developers, brokers or family for updates</p>
          <h5>Financial Planning</h5>
          <p class="s scolor2">If you have bought a property under a construction linked plan, its important to keep track of construction and prepare for future demands, our reports will help you plan your payments better.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns small-centered b-ws-top b-ws-bottom">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="small-12 large-8 columns b-ws-top">
          <img src="{{site.url}}{{site.baseurl}}/assets/images/value.png" width="100px">
          <h2>PropValue</h2>
          <h4 class="scolor2">What is the current value of your asset</h4>
          <p class="scolor2">Getting the proper value range on real estate is often an ambiguous exercise. It is often led by demands of the seller or a quote from the broker; both interested parties. PropValue creates a detailed valuation report for a residential property by using inputs from a professional technical valuate expert (based on an actual site visit) and recent market trades. We prepare a comprehensive report in a simple understandable format with pictures. Get the information you need to make more informed buying and selling decisions.</p>
          <div class="row">
            <div class="small-4 columns b-ws-top small-centered">
              <ul class="pricing-table">
                <li class="title">On demand</li>
                <li class="price">₹2250 <span class="scolor2 s3">/report</span></li>
                <li class="bullet-item">1 report</li>
                <li class="cta-button"><a class="button small" data-reveal-id="myModal" href="#">Order Now</a></li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="small-4 columns b-ws-top lgbg s-ws-top-p">
          <h5>Make smarter decisions</h5>
          <p class="s scolor2">Whether you’re buying or selling, you’ll be in a better negotiating position with accurate valuation and local market information at your fingertips. The Property Report includes, valuation, property measurements, plus market trends and recent pictures</p>
          <h5>Accurate and Trustworthy</h5>
          <p class="s scolor2">Although there is a lot of free information available online, however it is often provided by people remunerated by developers / sellers. Houseafic’s valuation report is your independent information source that is demonstrably more accurate.</p>
          <h5>Independent</h5>
          <p class="s scolor2">Since we are neither sellers nor buyers in any real estate transactions we report information as is collected. We engage with only our consumers and are completely unbiased in our approach</p>
          <h5>Convenience</h5>
          <p class="s scolor2">Get all the information that you require from the convenience of your home. Let us do the running around for you !</p>
          <h5>Privacy</h5>
          <p class="s scolor2">We maintain complete privacy of our clients credentials. If you have clicked the contact me or interested button on any real estate website, you will know what we mean.</p>
        </div>
      </div>


      
    </div>

  </div>

<div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <form action="//formspree.io/hi@houseafic.com"
      method="POST">
      <h5 class="text-center">Get in touch</h5>
      <div class="row">
        <div class="large-12 columns">
          <label>Your name
            <input type="text" name="name" placeholder="Your name" required />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Your email
            <input type="email" name="_replyto" placeholder="Your email" required />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Your phone number
            <input type="text" name="phone" placeholder="Your phone number" required />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Your property name
            <input type="text" name="project" placeholder="Name of the project" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns s-ws-top">
          <input type="submit" value="Request callback" class="button small fullwidth success">
        </div>
      </div>

    </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


  <% include includes/footer.ejs %>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/foundation/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
  
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/js/app.js"></script> -->

</body>
</html>
