<!DOCTYPE html>
<html>
<% include includes/head.ejs %>
<body>
  <% include includes/header.ejs %>
  <div class="main" id="privacy">
    <div class="row">
      <div class="small-8 small-centered columns b-ws-top">
        <div class="panel">
          <h2 class="s-ws-top">Privacy Policy</h2>
          <div class="row">
            <div class="small-12 columns small-centered">
              <hr>
            </div>
          </div>
          <p>

We are committed to preserving the privacy of all visitors to the Website. This page sets out our privacy policy and explains how your personal information (meaning any information about you which is personally identifiable like your name, address, telephone number or e-mail address, generally referred to throughout this policy as “personal information”) will be used.</p><p>
This privacy policy only applies to the collection of your personal information by us and the use of that personal information by us and those whom we authorise. It does not cover third party websites to which we provide links, nor does it cover advertisers. They may have their own privacy policies and/or terms and conditions of use. </p><p>
 By accessing and continuing to use this Website or using the services offered via this Website, you consent to the collection, use and transfer of your personal information under the terms of this privacy policy.</p><p>
 Please note that we may update and amend the privacy policy from time to time and any changes will be posted on the Website. If you do not agree with any of our privacy policy then you should not use the Website.</p>

 <h5>Information that we collect from you</h5>
 <p>
 When you visit, register or order products or services on the Website or when you otherwise update any registration details you may be asked to provide personal information about yourself and your business including your contact details and/or credit or debit card information. We may also collect and collate additional information reasonably required for the delivery of the services and/or concerning about your usage of our website, including through the use of “Cookies” (see section entitled “Cookies” below). In addition, we may collect personal information: when you make a complaint or enquiry or provide other feedback to us; when you provide any submissions; when you request to be sent communications such as updates or newsletters; and when you disclose your personal information to us or otherwise through the Website at any other point.    
 </p>

<h5>Use of your information</h5>
<p>
 Your information will enable us to provide you with access to all parts of our Website and to supply the goods or services you have requested. It will also enable us to bill you and to contact you where necessary concerning your orders. We will also use and analyse the information we collect so that we can administer, support, improve and develop our business.</p><p>
 In particular, we may use personal information to: contact you for your views on our services; notify you occasionally about important changes or developments to the Website or any service offered by us: to monitor, develop and improve the Website, services and your experience; process and deal with any complaints or enquiries made by or about you; and/or investigate any suspected breach of the Terms of Use or the breach of other terms and conditions otherwise relating to you and to monitor compliance. </p><p>
Further, where you have consented, we (or other companies within our group of companies) might also use personal information to let you know about other products and services which we offer or which third parties offer which may be of interest to you and you may be contacted by post, telephone or fax, as well as by e-mail. To opt-out of receiving any such communications, you can use the facility contained in any such communication or you can email us at the email address below or write to us by mail to the address below stating that you do not wish to receive further communications from us.</p>
 
<h5>Disclosure of your information</h5>
 <p>
The information you provide to us will be held on our computers locally or on the cloud and may be accessed by or given to our staff working outside who act for us for the purposes set out in this policy or for other purposes approved by you. Those parties process information, fulfil and deliver orders, process credit card payments and provide support services on our behalf. We may also pass on such information to third parties we contract with to provide services that may form part of or accompany our services. We may also pass aggregate information on the usage of our Website to third parties but this will not include information that can be used to identify you.</p><p>
 Unless required to do so by law, or as set out in this privacy policy, we will not otherwise share, sell or distribute any of the personal information provided to us to third parties without your consent. However, we will disclose usage information to selected third parties unless you specifically instruct us not to do so.</p><p>
 Finally, if our business enters into a joint venture with or is sold to or merged with another business entity, your personal information may be disclosed to our new business partners or owners. Unless required to do so by law, we will not otherwise share, sell or distribute any of the personal information you provide to us without your consent.
 </p>



        </div>
      </div>
    </div>  
  </div> 


  <% include includes/footer.ejs %>

  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/foundation/js/foundation.min.js"></script>

  <script src="{{site.url}}{{site.baseurl}}/assets/js/app.js"></script>

</body>
</html>
