<!DOCTYPE html>
<html>
<% include includes/head.ejs %>
<body>
  <% include includes/header.ejs %>
  <div class="main" id"tos">
    <div class="row">
      <div class="small-8 small-centered columns b-ws-top">
        <div class="panel">
          <h2 class="s-ws-top">Terms of Service</h2>
          <div class="row">
            <div class="small-12 columns small-centered">
              <hr>
            </div>
          </div>
          <p>This section contains the Terms of Use of this Web site. By accessing this Web site and any of its pages, you are agreeing to these Terms.</p>
          <h5>Use of information and materials</h5>
          <p>
            Products and Services referred to in this Web site are offered only in countries where they may be lawfully offered by Baaz Managed Services Pvt. Ltd or another member of the Baaz Managed Services Pvt. Ltd Group. The materials on these pages are not intended for use by persons located in, or resident in, countries that restrict the distribution of such materials. These pages should not be regarded as an offer in any country to any person to whom it is unlawful to make such an invitation or solicitation in such country. Baaz Managed Services Pvt. Ltd retains the absolute right to determine eligibility for subscription to any of the Services.
          </p><p>
          Baaz Managed Services Pvt. Ltd will not be liable to you or any third party for any claim to the extent that the same is characterized as a claim for, or arising from:</p>
          <ul>
            <li>Loss of profits or anticipated savings, goodwill or injury to reputation, business opportunity, loss of data, loss as suffered by third parties
            </li><li>Indirect, consequential or special loss or damage regardless of the form of action, whether in contract, strict liability or tort (including negligence) and regardless of whether Baaz Managed Services Pvt. Ltd knew or had reason to know of the possibility of the loss, injury or damage in question.</li>
          </ul>
          <p>
            Baaz Managed Services Pvt. Ltd is not liable for any failure to perform any obligation caused by matters beyond our reasonable control (including without limitation any failure of transmission, inability to access the Site or Forum or any failure, error or delay in the sending or receiving of any communication).</p><p>
            The information contained in these pages is not intended to provide professional advice. Persons accessing these pages should obtain appropriate professional advice when necessary.</p>

            <h5>Our Trademark and Copyright
              <p>
                The content and information contained within our website or delivered to you in connection with your use of our website is the property of Baaz Managed Services Pvt. Ltd and any other third party (where applicable). The trademark, trade names and logos (the "Trade Marks") that are used and displayed on our website include registered and unregistered Trade Marks of ourselves and other third parties. Nothing on our website should be construed as granting any licence or right to use any Trade Marks displayed on our website. We retain all proprietary rights on our website. Users are prohibited from using the same without written permission of Baaz Managed Services Pvt. Ltd of such or such other parties. The materials on this website are protected by copyright and no part of such materials may be modified, reproduced, stored in a retrieval system, transmitted (in any form or by any means), copied, distributed, used for creating derivative works or used in any other way for commercial or public purposes without the Baaz Managed Services Pvt. Ltd 's prior written consent.</p>
                <h5>No warranties</h5>
                <p>
                  Whilst every care has been taken in preparing the information materials contained in this site, such information and materials are provided "as is" without warranty of any kind, either express or implied. In particular, no warranty regarding non-infringement, security, accuracy, fitness for a purpose or freedom from computer viruses is given in connection with such information and materials.</p>
                  <h5>Email</h5>
                  <p>
                    E-mail messages sent to the Baaz Managed Services Pvt. Ltd over the Internet cannot be guaranteed to be completely secure. Baaz Managed Services Pvt. Ltd is not responsible for any damages incurred by users if they send a message to the Baaz Managed Services Pvt. Ltd, or if the Baaz Managed Services Pvt. Ltd sends a message to them at their request, over the Internet. Baaz Managed Services Pvt. Ltd is not responsible in any way for direct, indirect, special or consequential damages arising out of the use of this Website.</p>
                    <h5>Transmitting over the internet</h5>
                    <p>
                      Due to the nature of the Internet transactions may be subject to interruption, transmission blackout, delayed transmission and incorrect data transmission. Baaz Managed Services Pvt. Ltd is not liable for malfunctions in communications facilities not under its control that may affect the accuracy or timeliness of messages and transactions you send.</p>
                      <h5>Downloading</h5>
                      <p>
                        We do not represent or warrant that the Site will be available and meet your requirements, that access will not be interrupted, that there will be no delays, failures, errors or omissions or loss of transmitted information, that no viruses or other contaminating or destructive properties will be transmitted or that no damage will occur to your computer system. You have sole responsibility for adequate protection and back up of data and/or equipment and for undertaking reasonable and appropriate precautions to scan for computer viruses or other destructive properties. We make no representations or warranties regarding the accuracy, functionality or performance of any third party software that may be used in connection with the Site.</p>
                        <h5>General</h5>
                        <p>
                          If any term of these Terms is held to be invalid or unenforceable by judicial decision, the rest of the Terms shall remain valid and enforceable. Baaz Managed Services Pvt. Ltd reserves the right to change these Terms from time to time. If we change these Terms, we shall notify you of this fact on the home page of the Site and shall post the new version on the Site stating when such revised version comes into effect. You will be taken to have agreed to such revised version if you continue using the Site after expiry of any no-tice period. You should check the Terms periodically to ensure that you are aware of and are complying with the current version.</p>
                          <h5>Governing Law</h5>
                          <p>
                            These terms are governed by and must be interpreted in accordance with Indian laws. You agree to the exclusive jurisdiction of the courts of Delhi in respect of any proceedings in connection with these Terms or this Site. If any provision of these Terms is found to be invalid or unenforceable by a Court of Law, such invalidity or unenforceability will not affect the remainder of the Terms which will continue in full force and effect.
                          </p><p>
                          Baaz Managed Services Pvt. Ltd reserves any rights not expressly granted in these Terms. </p>

                          <p><strong>Important</strong>: By accessing this Web Site and any of its pages you are agreeing to the terms set out above.</p>

                          <h5>Hyperlinks Policy</h5>
                          <h6>Hyperlink from houseafic.com to websites outside Baaz Managed Services Pvt. Ltd group</h6>
                          <p>There may be cases on our website when the Baaz Managed Services Pvt. Ltd Group provides hyperlinks to other locations or websites on the Internet. These hyperlinks lead to websites published or operated by third parties who are not affiliated with or in any way related to Baaz Managed Services Pvt. Ltd. They have been included in our website to enhance your user experience and are presented for information purposes only. We endeavor to select reputable websites and sources of information for your convenience.</p><p>
                          However, by providing hyperlinks to an external website or webpage, Baaz Managed Services Pvt. Ltd shall not be deemed to endorse, recommend, approve, guarantee or introduce any third parties or the services/ products they provide on their websites, or to have any form of cooperation with such third parties and websites unless otherwise stated by Baaz Managed Services Pvt. Ltd. We are not in any way responsible for the content of any externally linked website or webpage. You use or follow these links at your own risk and Baaz Managed Services Pvt. Ltd is not responsible for any damages or losses incurred or suffered by you arising out of or in connection with your use of the link. Baaz Managed Services Pvt. Ltd is not a party to any contractual arrangements entered into between you and the provider of the external website unless otherwise expressly specified or agreed to by Baaz Managed Services Pvt. Ltd.</p><p>
                          Any links to websites that contain downloadable software are provided for your convenience only. Again we are not responsible for any difficulties you may encounter in downloading the software or for any consequences from your doing so. Please remember that the use of any software downloaded from the Internet may be governed by a licence agreement and your failure to observe the terms of such licence agreement may result in an infringement of intellectual property rights of the relevant software provider which we are not in any way responsible.</p><p>
                          Please be mindful that when you click on a link and leave our website you will be subject to the terms of use and privacy policies of the other website that you are going to visit.</p>


                          <h6>Hyperlinks from houseafic.com to other Baaz Managed Services Pvt. Ltd group websites</h6>
                          <p>
                            We may also include hyperlinks to other Baaz Managed Services Pvt. Ltd Group websites for your convenience. The products and services offered on these websites may be limited to persons located or residing in only that particular jurisdiction. In addition, the content on these linked websites may not be intended for persons located or residing in jurisdictions that restrict the distribution of such content. The terms and conditions governing the use of the website of each Baaz Managed Services Pvt. Ltd Group entity may differ and you should consult and carefully read the applicable terms and conditions before using the website.</p>

                            <h6>Hyperlinks from external websites to Baaz Managed Services Pvt. Ltd group websites</h6>
                            <p>You must always obtain the prior written approval of Baaz Managed Services Pvt. Ltd before creating a hyperlink in any form from a third party website to any Baaz Managed Services Pvt. Ltd website. Baaz Managed Services Pvt. Ltd may or may not give such approval at its absolute discretion. In normal circumstances, we may only approve a hyperlink which displays plainly our name or website address. Any use or display of our logos, trade names and trademarks as a hyperlink will not be approved unless in very exceptional circumstances and may be subject to a fee as Baaz Managed Services Pvt. Ltd may determine at its absolute discretion. Baaz Managed Services Pvt. Ltd is not responsible for the setup of any hyperlink from a third party website to any Baaz Managed Services Pvt. Ltd website. Any links so set up shall not constitute any form of co-operation with, or endorsement by, Baaz Managed Services Pvt. Ltd of such third party website. Any link to our website shall always be an active and direct link to our website and shall be made directly to the home or front page of our website only and that no "framing" or "deep-linking" of our web page or content is allowed.</p>




                          </div>
                        </div>
                      </div>  
                    </div> 


                    <% include includes/footer.ejs %>

                    <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/foundation/js/foundation.min.js"></script>

                    <script src="{{site.url}}{{site.baseurl}}/assets/js/app.js"></script>

                  </body>
                  </html>
