<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>NEET App</title>


<meta property="og:locale" content="en_US" />
<meta property="og:title" content="NEET App" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://abctest.parseapp.com/?id= <%= url_id %>" />
<meta property="og:url" https://goo.gl/e8B0wU" />
<meta property="og:site_name" content="NEET App" />
<meta property="og:description" content="NEET Prep App" />
<meta property="og:image" content="https://abctest.parseapp.com/assets/images/logo.png" />
<meta property="og:image" content="http://files.parsetfss.com/708dc0d3-8882-4f02-884e-7183b4f82d7e/tfss-87656460-ec5a-4c11-9752-7720348b9011-img.jpg" />


  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
 <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />  -->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <link href="https://file.myfontastic.com/JasaEGWZsGLjvq3NqZgZRB/icons.css" rel="stylesheet">
  <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

  <!-- start Mixpanel -->

</head>
