<header class="contain-to-grid fixed">

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 style="background:#ffffff; border:1px solid #dedede; border-radius:0 0 3px 3px;"><a href="http://app.neet2.com"><img src="/assets/images/logo1.png" width="75%"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- <section class="top-bar-section">
            <ul class="right">
                <li style="display:none;" id="a2"></li>
                <li><a href="{{site.url}}{{site.baseurl}}">Welcome, <span id="uname">Loading</span></a></li>
                <li style="display:none;" id="timelinenav"><a href="/project/timeline.ejs">Timeline</a></li>
                <li style="display:none;" id="ordersnav"><a href="{{site.url}}{{site.baseurl}}/project/orders.html">Orders</a></li>
                <li style="display:none;" id="snav"><a href="{{site.url}}{{site.baseurl}}/admin/index.html">Settings</a></li>
                <li style="display:none;" id="anav"><a href="{{site.url}}{{site.baseurl}}/admin/admin.html">Settings</a></li>
                <li style="display:none;" id="searchnav"><a href="#"><i class="icon-search"></i></a></li>
                <li id="logout"><a href="#"><i class="icon-out"></i></a></li>
            </ul>
        </section> -->
    </nav>
</header>
<div data-alert class="alert-box alert-bar text-center fixed" style="display:none; z-index:9; top:48px;">
    Loading
    <a href="#" class="close">&times;</a>
</div>
